<aside class="sidebar close">
    <a href="./#/"><img src="/assets/images/avatar.jpg" class="portrait"></a>
    <div class="wrapper">
        <div class="nav-header">
            <div class="nav-info">
                <h1>Ashley Cornelius</h1>
                <h2>Graphic Designer</h2>
            </div>
            <i class="fa fa-chevron-circle-down menu-icon"></i>
        </div>

        <p class="email"><a href="mailto:ashleanncornelius@gmail.com">ashleanncornelius@gmail.com</a></p>
        
        <nav class="nav">
            <ul>
                <li><a href="/">home</a></li>
                <li><a href="/about">about</a></li>
            </ul>
        </nav>
        <ul class="social">
            <li class="social-icon"><a href="https://www.linkedin.com/in/ashley-cornelius-a7a8b671/" target="_blank"><i class="fa fa-linkedin"></i></a></li>
            <li class="social-icon"><a href="https://www.instagram.com/ashleanncornelius/" target="_blank"><i class="fa fa-instagram"></i></a></li>
            <li class="social-icon"><a href="https://www.pinterest.com/acorn25/" target="_blank"><i class="fa fa-pinterest"></i></a></li>                    
        </ul>
    </div>
    
</aside>